@include component(button) {
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    line-height: 36px;
    min-width: 88px;
    padding: $button-padding;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    zoom: 1;

    ::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:hover, &:focus {
        background: $button-default-hover-background;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        background: $button-default-click-background;
    }

    @include option(primary) {
        color: $button-primary-type-colour;
        &:hover, &:focus {
            background: $button-primary-hover-background;
        }
        &:active {
            background: $button-primary-click-background;
        }
    }

    @include option(secondary) {
        color: $button-secondary-type-colour;
        &:hover, &:focus {
            background: $button-secondary-hover-background;
        }
        &:active {
            background: $button-secondary-click-background;
        }
    }

    @include option(disabled) {
        color: $button-default-disabled-type-colour;
        cursor: not-allowed;
        &:hover, &:focus, &:active {
            background: none;
        }
    }

    @include option(raised) {
        @extend .\+z-depth-1;
        background: $button-raised-background;
        &:hover, &:focus {
            background: $button-raised-hover-background;
        }
        &:active {
            @extend .\+z-depth-2;
            background: $button-raised-click-background;
        }

        @include option(primary) {
            background: $button-raised-primary-background;
            color: $button-raised-primary-type-colour;

            &:hover, &:focus {
                background: $button-raised-primary-hover-background;
            }
            &:active {
                background: $button-raised-primary-click-background;
            }
        }

        @include option(secondary) {
            background: $button-raised-secondary-background;
            color: $button-raised-secondary-type-colour;

            &:hover, &:focus {
                background: $button-raised-secondary-hover-background;
            }
            &:active {
                background: $button-raised-secondary-click-background;
            }
        }

        @include option(disabled) {
            @extend .\+z-depth-0;
            background: $button-raised-disabled-background;

            &:active {
                @extend .\+z-depth-0;
            }
        }
    }
}
