@include tweak(hidden) {
    display: none;
}

@include tweak(fluid) {
    display: block;
    height: auto;
    max-width: 100%;
}

@include tweak(type-left) {
    text-align: left;
}

@include tweak(type-right) {
    text-align: right;
}

@include tweak(cpn-left) {
    float: left;
}

@include tweak(cpn-right) {
    float: right;
}