/*
 * Typography
 */
$type-family: Roboto, sans-serif;

/*
 * Colours
 */
$colour-primary: #3F51B5;
$colour-secondary: #E91E63;

$colour-weak-black: rgba(0, 0, 0, 0.54);
$colour-strong-black: rgba(0, 0, 0, 0.87);
$colour-weak-white: rgba(255, 255, 255, 0.54);
$colour-strong-white: rgba(255, 255, 255, 0.87);

/*
 * Metrics
 */
$keyline-increment: 64px;